---
layout: default
title: Portfolio
---
<h1 class="post-title no-margin">{{ page.title }}</h1>
<ul class="grid-container portfolio-index">
{% for item in site.portfolio-items %}
  {% unless item.url == page.url %}
  {% comment %}
  {% Check how many portfolio items to set grid format %}
  {% endcomment %}
  {% assign mod4 = forloop.length | modulo: 4 %}
  {% assign mod3 = forloop.length | modulo: 3 %}
  {% assign mod2 = forloop.length | modulo: 2 %}
  {% if mod4  ==  '0' %}
  <li class="one-half col">
  {% elsif mod3  ==  '0' %}
  <li class="one-third col">
  {% elsif mod2  ==  '0' %}
  <li class="one-quarter col">
  {% endif %}
    <figure class="portfolio-index-item">
      <a href="{{ item.url }}"><img src="{% for image in item.portfolio-images reversed limit: 1 %}{{ image.img-path }}{% endfor %}" alt="{{ forloop.rindex | prepend: ' image '| prepend: page.title }}"></a>
      <a href="{{ item.url }}"><figcaption>{{ item.title }}</figcaption></a>
      {% include social-shares.html %}
    </figure>
  </li>
  {% endunless %}
{% endfor %}
</ul>
